@model EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit Role</h1>

<form method="post" class="mt-3">
    <label asp-for="Id"></label>
    <div class="col-sm-10">
        <input asp-for="Id" disabled class="form-control" />
    </div>
    <label asp-for="RoleName"></label>
    <div class="col-sm-10">
        <input asp-for="RoleName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>


    <h3>Users in this role</h3>
    <div class="card">
        @if(Model.Users.Any())
        {
            foreach(var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
            }
        }
        else
            {
                <h5>No Users</h5>
            }
    </div>
    <a asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleid="@Model.Id" class="btn btn-primary">Add or Remove User</a>
</form>