@{
    ViewData["Title"] = "Error Message";
}

<h4>Only Administrative users are allowed on this page. Please contact an administrator at group37wells@gmail.com for
    Administrator information!</h4>