@*Main Page
    - This is the main landing page
    - Contains details of the website
    - Contains routing to all of the rest of the website
*@
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<partial name="_CookieConsentPartial" />

<div class="text-center">
    <h1 class="display-4">Protect Utah Roads: Crash Information and Prevention</h1>

    <p>
        This is an important resource to help make informed decisions about how we can reduce motor vehicle accidents.
        Utah roads have seen an increase in motor vehicle crashes in recent years. This site
        explores the different factors playing into all the crashes and displays the data for each one. Read on
        to <a href="/Home/Calculator">Learn More</a>.
    </p>

    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ELg0waAnYjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br /><br />
    <hr />
    <br /><br />
    <h3>2022 Utah Crash Summary Statistics</h3>
    <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/70b04672-a17d-4572-9706-510ceb81c56a" frameborder="0"></iframe>
    <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/34d06948-6adb-499e-b14b-60067338b2c0" frameborder="0"></iframe>
    <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/c6738091-50dc-4702-bb6e-6f093cae7952" frameborder="0"></iframe>
    <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/b35a2013-c4fd-40f6-bd89-76fff2bed2a4" frameborder="0"></iframe>
    <br />

</div>



