@{
    ViewData["Title"] = "Login";
}

@model Intex2022.Models.ViewModels.LoginModel

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Admin Login</h3></div>
                            <div class="card-body">
                                <div class="text-danger" asp-validation-summary="All"></div>

                                <form method="post" asp-controller="Account" asp-action="Login">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" asp-for="Username" type="text"/>
                                        <label asp-for="Username">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
                                        <label asp-for="Password">Password</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="password.html">Forgot Password?</a>
                                        <button class="btn btn-primary" type="submit">Login</button>

                                        @*<a class="btn btn-primary" href="index.html">Login</a>*@
                                    </div>
                                    <input type="hidden" asp-for="ReturnUrl" />
                                </form>
                            </div>

                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="/Account/Registration">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>